.menu
{
    color: white;
}
.ul-style
{
    background-color: black;
    height : 40px;
    
}

.li-style{
    /* background-color: chocolate; */
    display: inline-block;
    height : 40px;
    padding: 0 10px;
    line-height: 40px;
}
a
{
    color: white;
    text-decoration: none;
}

li:hover{
    background-color: #999966;
}


.slides{
    border: 0.001rem solid gray;
    width: 15%;
    float: left;
    margin-left: 2%;
    align-items: center;
}
.plans{
    margin-left: 25%;
    text-align: center;
}
.slides:hover{
    box-shadow: 0px 0px 2.5px 2.5px #999966;
}

.main{
    width: 75%;
    float: left;
    margin-right: 5%;
}

.sidebar
{
    width: 20%;
    float: right;
}

.footer{
    clear: left;
}
